<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

</head>

<body>

    <div id="app">
        <h1>To Do List</h1>

        <input type="text" v-model="newTodo.text" @keyup.enter="addTodo" placeholder="Things to do...">
        <div>
            <label>Priority Level</label>
            <select v-model="newTodo.priority">
                <option value="" disabled selected>Choose</option>
                <option value="low">Low</option>
                <option value="high">High</option>
            </select>
        </div>
        <button @click="addTodo">Add</button>

        <div>
            <label>Sort by Priority: </label>
            <select v-model="sortBy">
                <option value="" disabled selected>Choose</option>
                <option value="lowToHigh">Priority(Low to High)</option>
                <option value="highToLow">Priority(High to Low)</option>
            </select>
        </div>

        <ul>
            <li v-for="(todo, index) in sortedTodos" :key="index">
                <input type="checkbox" v-model="todo.completed">
                <span>{{ todo.text }} - {{ todo.priority }}</span>
                <button @click="removeTodo(index)">Delete</button>
            </li>
        </ul>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                newTodo: {
                    text: '',
                    importance: 'low'
                },
                todos: [],
                sortBy: 'lowToHigh'
            },
            computed: {
                sortedTodos() {
                    if (this.sortBy === 'lowToHigh') {
                        return this.todos.slice().sort((a, b) => {
                            if (a.priority === 'low' && b.priority !== 'low') {
                                return -1;
                            } else if (a.priority !== 'low' && b.priority === 'low') {
                                return 1;
                            } else {
                                return 0;
                            }
                        });
                    } else if (this.sortBy === 'highToLow') {
                        return this.todos.slice().sort((a, b) => {
                            if (a.priority === 'high' && b.priority !== 'high') {
                                return -1;
                            } else if (a.priority !== 'high' && b.priority === 'high') {
                                return 1;
                            } else {
                                return 0;
                            }
                        });
                    }

                }
            },
            methods: {
                addTodo() {
                    if (this.newTodo.text.trim() !== '') {
                        this.todos.push({ text: this.newTodo.text, priority: this.newTodo.priority });
                        this.newTodo.text = ''; // sadece this.newTodo'yu ekledikten sonra this.newTodo.text'i temizler
                    }
                },
                removeTodo(index) {
                    this.todos.splice(index, 1);
                }
            }
        });
    </script>

</body>

</html>